#red{
    color: red;
    
}
img{
    height: 200px;
    width: 200px;
}
#blue{
    color: blue;
}
#orange{
    color:orange ;

}
#green{
    color: green;
}
.color-title{
    font-weight: normal;
}